/node_modules
/public/hot
/public/storage
/public/uploads/0000
/storage/*.key
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
/.idea
/.yarn
/resources/ckeditor/node_modules/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/installed

.yarnrc.yml
public/dist/
public/themes/Base/dist
themes/Axtronic/package-lock.json
themes/Axtronic/node_modules
