.bravo_wrap {
    //Blocks
    .bravo-header-title{
        font-size: 16px;
        color: #666666;
        text-align: center;
        margin-bottom: 32px;
    }
    .bravo-sub-title{
        font-size: 30px;
        text-align: center;
        margin-bottom: 100px;
    }

    .bravo_callAaction{
        padding: 165px 0;
        h2{
            margin-bottom: 60px;
        }
    }
    .bravo_whySellOnMartfury{
        padding: 110px 0;
        .box-wrapper{
            .box-title{
                border: none;
                text-align: center;
                padding: 0;
            }
        }
    }
    .bravo_HowItWorks{
        background: #f6f6f6!important;
        padding: 110px 0 55px;
        .martfury-process{
            .desc{
                ul{
                    font-size: 16px;
                    letter-spacing: -.5px;
                    list-style: none;
                    padding-left: 0;
                    margin: 0;
                    li{
                        position: relative;
                        padding-left: 20px;
                        padding-bottom: 10px;
                        &:before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            position: absolute;
                            left: 0;
                            top: 10px;
                            background-color: #666;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    .bravo_BestFeesToStart{
        padding: 110px 0 55px;
        .bravo-sub-title{
            margin-bottom: 60px;
        }
        .bravo-sub-content{
            font-size: 18px;
            letter-spacing: -1px;
            margin-bottom: 65px;
        }
        .bravo-item-list{
            margin-bottom: 65px;
        }
        .title_list{
            margin-bottom: 50px;
        }
        .title-list-content{
            margin-bottom: 55px;
            ul{
                font-size: 16px;
                letter-spacing: -.5px;
                list-style: none;
                padding-left: 0;
                margin: 0;
                li{
                    position: relative;
                    padding-left: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 7px;
                    &:before{
                        content: '';
                        width: 5px;
                        height: 5px;
                        position: absolute;
                        left: 0;
                        top: 10px;
                        background-color: #666;
                        border-radius: 50%;
                    }
                }
            }
        }
        .payment-box{
            padding-top: 45px!important;
            padding-right: 45px!important;
            padding-bottom: 45px!important;
            background-color: #f6f6f6!important;
            margin-bottom: 50px;
            .mf-single-content{
                font-size: 16px;
                color: #000;
                font-weight: 500;
            }
            .title-footer{
                p{
                    margin: 0;
                }
            }
        }
    }
    .bravo_SellerStories{
        background: #f6f6f6!important;
        padding: 110px 0 105px;
        .martfury-testimonial-slides{
            .testimonial-list{
                .slick-list{
                    .slick-slide{
                        margin: 0 15px;
                    }
                }
            }
        }
    }
    .bravo_FrequentlyAskedQuestions{
        padding: 110px 0 55px;
        .bravo-content-list{
            .bravo-content-title{
                font-size: 22px;
                text-align: left;
                margin-bottom: 23px;
            }
            .bravo-content{
                margin-bottom: 55px;
            }
        }
        .break_line{
            margin-top: 55px;
            margin-bottom: 0;
            border: 1px solid #ebebeb;
        }
        .contact-us{
            padding: 85px 0 100px;
            .contact-title{
                font-size: 30px;
                text-align: center;
                margin-bottom: 55px;
            }
        }
    }
    .bravo_BannerHome1{
        margin-top: 30px;
        .bravo-home-sliders{
            img{
                width: 100%;
            }
            .slick-arrow{
                z-index: 1;
                background-color: rgba( 0,0,0,0.3 );
                min-width: 48px;
                min-height: 48px;
                transition: 0.5s;
                border: none;
                color: white;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background: #000;
                }
                i{
                    font-size: 16px;
                }
                &.slick-next{
                    right: 0;
                }
            }
        }
        .banner-big{
            @media (max-width: 1199px){
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
        .banner-small{
            @media (max-width: 1199px){
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .row{
                    .col-md-12{
                        -ms-flex: 0 0 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                        margin: 0!important;
                        @media (max-width: 767px){
                            -ms-flex: 0 0 100%;
                            flex: 0 0 100%;
                            max-width: 100%;
                            &:first-child{
                                margin-bottom: 30px!important;
                            }
                        }
                        .mf-banner-small{
                            .b-image{
                                text-align: right;
                                img{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
            .col-md-12{
                &:not(:last-child){
                    margin-bottom: 30px;
                }
                &:first-child{
                    .mf-banner-small{
                        .box-price{
                            top: 15px;
                            left: 46%;
                            transform: translateX(-50%);
                        }
                    }
                }
                .mf-banner-small{
                    .banner-content{
                        .box-title{
                            border-bottom: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    .bravo_HomeFee{
        margin-top: 30px;
        .martfury-icon-box{
            .box-title{
                border: none;
                padding: 0;
            }
        }
    }
    .bravo_Promotion{
        margin-bottom: 80px;
        @media (max-width: 1199px){
            .col-lg-4{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
            .col-md-8{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                .mf-banner-large{
                    margin-bottom: 30px;
                }
            }
            .col-md-4{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                .mf-banner-medium{

                }
            }
        }
        @media (max-width: 991px){
            .col-lg-4{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
            .col-md-6{
                &:not(:last-child){
                    .mf-banner-medium{
                        margin-bottom: 30px;
                    }
                }
            }
        }
        @media (max-width: 767px){
            .col-md-4{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        @media (max-width: 575px){
            .col-banner-content{
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .mf-banner-medium{
            .banner-content{
                .s-content{
                    .desc{
                        .price{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .bravo_categories{
        margin-bottom: 80px;
        @media (max-width: 1199px){
            margin-bottom: 50px;
        }
        .categories-header{
            font-size: 20px;
            line-height: 1;
            text-align: left;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .list-item{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .item{
                flex: 0 0 12.5%;
                padding: 0 15px;
                .image-content{
                    .box-title{
                        a{
                            font-size: 14px!important;
                        }
                    }
                }
                @media(max-width: 1199px){
                    flex: 0 0 25%;
                    margin-bottom: 30px;
                    .mf-image-box{
                        .thumbnail{
                            display: block;
                            width: 170px;
                            height: 170px;
                            text-align: center;
                            margin: 0 auto;
                            @media (max-width: 479px){
                                width: 128px;
                                height: 128px;
                            }
                            img{
                                display: inline-block;
                            }
                        }
                    }
                }
                @media(max-width: 768px){
                    flex: 0 0 33.33%;
                }
                @media (max-width: 605px){
                    flex: 0 0 50%;
                }
                .mf-image-box{
                    height: 100%;
                }
                .image-content{
                    .box-title{
                        a{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .bravo_ProductInCategories{
        margin-bottom: 50px;
    }
}
