.bravo_footer{
    border-top: 1px solid #e1e1e1;
    .footer-newsletter{
        .newsletter-content{
            margin-bottom: 15px;
        }
    }
    .footer-bottom{
        padding: 35px 0;
        .footer-row{
            display: flex;
            align-items: center;
            @media (max-width: 768px){
                text-align: center;
                .footer-copyright{
                    margin-bottom: 15px;
                }
                .footer-payments{
                    display: block;
                    text-align: center;
                    .text{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .bravo_footer_menu{
        .mf-els-modal-mobile{
            z-index: 999999;
            display: block;
            .primary-mobile-nav{
                position: static;
                transform: none;
                width: 100%;
                .mobile-nav-content{
                    .mobile-nav-header{
                        .close-mobile-nav{
                            display: block;
                        }
                    }
                    .bravo-department-list{
                        .menu{
                            >.menu-item-has-children{
                                >a{
                                    &:after{
                                        content: "\e936";
                                        font-family: 'Linearicons' !important;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                                &.active{
                                    >a{
                                        &:after{
                                            content: "\e937";
                                        }
                                    }
                                }
                                >ul.dropdown-submenu{
                                    background: transparent!important;
                                    >li{
                                        padding: 0;
                                        .mega-menu-content{
                                            .flex-nowrap{
                                                display: block;
                                                margin: 0;
                                                >.menu-item-has-children{
                                                    padding: 5px 0;
                                                    .menu-item-mega{
                                                        a{
                                                            color: #666;
                                                        }
                                                        >a{
                                                            position: relative;
                                                            &:after{
                                                                content: "\e936";
                                                                font-family: 'Linearicons' !important;
                                                                position: absolute;
                                                                right: 0;
                                                            }
                                                            &.active{
                                                                &:after{
                                                                    content: "\e937";
                                                                }
                                                            }
                                                        }
                                                        .mega-menu-submenu{
                                                            .sub-menu{

                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mf-navigation-mobile{
            display: none;
            @media (max-width: 991px){
                display: block;
            }
        }
    }
}
.subscribe-form{
    padding-top: 65px;
    padding-bottom: 65px;
    border-bottom: 1px solid #e1e1e1;
    .bravo-subscribe-form{
        .email-input{
            border: 1px solid #ccc;
            height: 50px;
            line-height: 50px;
            padding: 0 25px;
            border-radius: 4px 0 0 4px;
            background-color: #fff;
        }
        button{

        }
    }
}
