.bravo-header{
    .header-style-default{
        background-color: #fcb800;
        .bravo-main-header{
            padding: 25px 0;
            .row{
                align-items: center;
                .col-logo{
                    width: 100%;
                    max-width: 300px;
                    @media (max-width: 991px){
                        flex: 0 0 156px;
                    }
                    @media (max-width: 767px){
                        flex: 0 0 136px;
                    }
                }
                .col-search-user{
                    display: flex;
                    align-items: center;
                    @media (max-width: 991px){
                        flex: 0 0 calc(100% - 156px);
                        justify-content: flex-end;
                    }
                    @media (max-width: 767px){
                        padding: 0;
                    }
                }
            }
            .bravo-main-search-box{
                flex-grow: 1;
                border-radius: 5px;
                @media (max-width: 991px){
                    display: none;
                }
                .input-group-prepend{
                    position: relative;
                    select.category-select{
                        width: 70px;
                    }
                    &:after{
                        content: '\e93a';
                        display: inline-block;
                        font: normal normal normal 14px/1 linearicons;
                        font-size: 10px;
                        color: #000;
                        position: absolute;
                        top: 17px;
                        right: 12px;
                    }
                }
                select.category-select{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    height: 42px;
                    border:none;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    padding-right: 29px;
                    padding-left: 20px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    &:focus{
                        box-shadow: none;
                    }
                }
                input.form-control{
                    padding-right: 20px;
                    padding-left: 20px;
                    height: 42px;
                    color: #666;
                    font-size: 14px;
                    border:none;
                    border-left: 1px solid rgb(169, 169, 169);
                    &:focus{
                        box-shadow: none;
                    }
                }
                .btn{
                    background-color: #000;
                    color: #fff;
                    font-weight: 700;
                    padding-right: 20px;
                    padding-left: 20px;
                    height: 42px;
                    line-height: 42px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
            .bravo-extra-menu{
                flex-shrink: 0;
                display: flex;
                list-style: none;
                justify-content: flex-end;
                margin: 0 0 0 40px;
                padding: 0;
                li{
                    list-style: none;
                    padding: 0 20px;
                    position: relative;
                    @media (max-width: 991px){
                        padding: 0 10px;
                    }
                    @media (max-width: 767px){
                        padding: 0 0 0 10px;
                    }
                    a{
                        color: #000;
                        text-decoration: none;
                    }
                    .extra-icon{
                        font-size: 30px;
                        @media (max-width: 991px){
                            font-size: 24px;
                        }
                    }
                    .counter-wrap{
                        position: relative;
                        display: block;
                    }
                    .counter{
                        position: absolute;
                        bottom: -3px;
                        right: -4px;
                        font-size: 12px;
                        font-weight: 700;
                        background-color: #fcb800;
                        -webkit-border-radius: 50%;
                        border-radius: 50%;
                        min-width: 18px;
                        padding: 0 5px;
                        height: 18px;
                        text-align: center;
                        line-height: 18px;
                        background-color: #000;
                        color: #fff;
                    }
                    &.menu-user{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .u-left{
                        margin-right: 8px;
                        margin-top: 2px;
                        .avatar-text{
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #000;
                            color: #fff;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .u-right{
                        @media (max-width: 767px){
                            display: none;
                        }
                        >a{
                            font-weight: 700;
                            display: block;
                            line-height: 16px;
                        }
                        .dropdown-menu{
                            min-width: 15rem;
                            padding: 5px;
                            left: -10px;
                            li{
                                padding: 0;
                                a{
                                    font-size: 1.3rem;
                                    &:hover{
                                        color: #fcb800;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bravo-main-menu-wrap{
            border-top: 1px solid rgba(0,0,0,.15);
            @media (max-width: 991px){
                border-top: none;
            }
        }
        .bravo-main-menu{
            display: flex;
            @media (max-width: 991px){
                display: none;
            }
            .browse-category,
            .main-menu-right{
                list-style: none;
                padding: 0;
                display: flex;
                align-items: center;
                li{
                    a{
                        color: #000;
                    }
                    ul.dropdown-menu{
                        padding: 0.5rem;
                        >li{
                            &:last-child{
                                margin-bottom: 0;
                            }
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .header-bar{
                    #lang_sel, #lang_sel > ul{
                        height: initial;
                    }
                }
            }
            .browse-category-btn{
                padding: 16px 5px;
                color: #000;
                font-size: 16px;
                font-weight: 600;
                margin: 0;
                line-height: 1;
                position: relative;
                cursor: pointer;
                display: -webkit-box;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -moz-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -moz-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                >i{
                    margin-right: 7px;
                    font-size: 20px;
                }
                position: relative;
                &:before{
                    position: absolute;
                    top: -1px;
                    left: 50%;
                    content: "";
                    height: 2px;
                    width: 0;
                    background-color: #000;
                    -webkit-transition: .5s;
                    transition: .5s;
                }
                &:hover:before{
                    width: 100%;
                    left: 0;
                    right: 0;
                }
            }
            .main-menu{
                flex-grow: 1;
            }
            .browse-category{
                width: 300px;
            }

        }
        .mobile-menu{
            padding: 0 0 15px;
            margin: 0 -30px;
            display: block;
            @media (min-width: 992px){
                display: none;
            }
            @media (max-width: 767px){
                margin: 0;
                .container{
                    max-width: 100%;
                    padding: 0;
                }
            }
            .mobile-menu-row{
                display: flex;
                align-items: center;
                .mf-toggle-menu{
                    font-size: 30px;
                    color: #000;
                    display: block;
                    line-height: 1;
                    padding-left: 30px;
                    padding-right: 20px;
                }
                .product-extra-search{
                    width: 100%;
                    .products-search{
                        width: 100%;
                        .psearch-content{
                            display: flex;
                            width: 100%;
                            .search-wrapper{
                                width: 100%;
                                display: flex;
                                position: relative;
                                .search-field{
                                    float: left;
                                    height: 42px;
                                    line-height: 1;
                                    border-top: 1px solid #ccc;
                                    border-bottom: 1px solid #ccc;
                                    border-left: none;
                                    border-right: none;
                                    padding-right: 20px;
                                    padding-left: 20px;
                                    position: relative;
                                    width: 100%;
                                }
                            }
                            .search-submit{
                                float: right;
                                height: 42px;
                                line-height: 42px;
                                border: none;
                                font-weight: 700;
                                white-space: nowrap;
                                width: 60px;
                                overflow: hidden;
                                border-radius: 0;
                                padding: 0;
                                min-width: auto;
                                background-color: #000;
                                color: #fff;
                                &:before{
                                    content: '\e922';
                                    font: normal normal normal 14px/1 linearicons;
                                    display: block;
                                    height: 42px;
                                    line-height: 42px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body.full_width
{
    @media (min-width:1680px) {
        .header-style-default{
            .col-logo{
                max-width: 300px;
            }
            .col-search-user{
                max-width: none;
                flex-grow: 1;
            }
            .browse-category{
                width: 300px;
            }
        }
    }
}
