.service-review{
    margin-top: 5px;
    >*{
        vertical-align: middle;
    }
}
.bravo_product-list{
    &.style-1{
        margin: 85px 0 76px;
        .products{
            li{
                list-style: none;
            }
        }
    }
    &.style-2{
        margin-bottom: 50px;
        .cat-header{
            padding: 16px 20px;
            background-color: #f4f4f4;
            border-bottom-color: #e3e3e3;
            .cat-title{
                font-size: 20px;
                font-weight: 600;
                margin: 0;
                line-height: 1;
            }
        }
        .products{
            overflow: hidden;
        }
    }
}

