@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --font-family:'Jost', sans-serif;
}
body{
    font-family: var(--font-family);
    font-size: 14px;
    color:#041E42
}
.dropdown{
    @apply relative
}
.be-dropdown-menu{
    @apply transition duration-200 group-hover:visible group-hover:opacity-100
}

.bc-carousel .owl-dots span{
    background: #112137 !important;
    position: relative;
    height: 5px !important;
    width: 5px !important;
    border-radius: 50% !important;
}
.bc-carousel .owl-dots{
    margin: 30px 0 !important;
}
.bc-carousel .owl-dots .active span:before{
    content: "";
    width: 19px !important;
    height: 19px !important;
    display: block;
    position: absolute;
    border: solid 2px;
    top: -7px;
    left: -7px;
    border-radius: 50%;
}
.bc-carousel .owl-nav{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.bc-carousel .owl-nav .owl-prev,
.bc-carousel .owl-nav .owl-next{
    background: url(/themes/zeomart/images/owl-next.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 40px;
    height: 40px;
    display: block;
    transform: rotate(180deg);
    margin-left: -20px;
    opacity: 1 !important;
}
.bc-carousel .owl-nav .owl-next{
    transform: rotate(0deg);
    margin-left: auto;
    margin-right: -20px;
}
.bc-icon-star-o{
    background-image: url("/themes/zeomart/images/star-o.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.bc-icon-star{
    background-image: url("/themes/zeomart/images/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
input,select{
    box-shadow: none !important;
}
.zm-block--about-editor h5{
    @apply text-xl font-medium mb-6
}
.zm-block--about-editor p{
    @apply text-base
}
