@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --font-family:'Jost', sans-serif;
}
body{
    font-family: var(--font-family);
    font-size: 14px;
    color:#041E42
}
.dropdown{
    @apply relative
}
.be-dropdown-menu{
    @apply transition duration-200 group-hover:visible group-hover:opacity-100
}
.bc-list-products .bc-carousel .owl-stage{ display: flex }

.bc-carousel .owl-dots span{
    background: #112137 !important;
    position: relative;
    height: 5px !important;
    width: 5px !important;
    border-radius: 50% !important;
}
.bc-carousel .owl-dots{
    margin: 30px 0 !important;
}
.bc-carousel .owl-dots .active span:before{
    content: "";
    width: 19px !important;
    height: 19px !important;
    display: block;
    position: absolute;
    border: solid 2px;
    top: -7px;
    left: -7px;
    border-radius: 50%;
}
.bc-icon-star-o{
    background-image: url("/themes/zeomart/images/star-o.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.bc-icon-star{
    background-image: url("/themes/zeomart/images/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
