@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --font-family:'Jost', sans-serif;
}
body{
    font-family: var(--font-family);
    font-size: 14px;
    color:#041E42
}
.dropdown{
    @apply relative
}
.be-dropdown-menu{
    @apply transition duration-200 group-hover:visible group-hover:opacity-100
}

.bc-carousel .owl-dots span{
    background: #112137 !important;
    position: relative;
    height: 5px !important;
    width: 5px !important;
    border-radius: 50% !important;
}
.bc-carousel .owl-dots{
    margin: 30px 0 !important;
}
.bc-carousel .owl-dots .active span:before{
    content: "";
    width: 19px !important;
    height: 19px !important;
    display: block;
    position: absolute;
    border: solid 2px;
    top: -7px;
    left: -7px;
    border-radius: 50%;
}
.bc-carousel .owl-nav{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.bc-carousel .owl-nav .owl-prev,
.bc-carousel .owl-nav .owl-next{
    background: url(/themes/zeomart/images/owl-next.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 40px;
    height: 40px;
    display: block;
    transform: rotate(180deg);
    margin-left: -20px;
    opacity: 1 !important;
}
.bc-carousel .owl-nav .owl-next{
    transform: rotate(0deg);
    margin-left: auto;
    margin-right: -20px;
}
.bc-icon-star-o{
    background-image: url("/themes/zeomart/images/star-o.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.bc-icon-star{
    background-image: url("/themes/zeomart/images/star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
}
input,select{
    box-shadow: none !important;
}
.zm-block--about-editor h5{
    @apply text-xl font-medium mb-6
}
.zm-block--about-editor p{
    @apply text-base
}
.zm-block--about-two-columns p{
    @apply mb-5 text-base
}
.be-button-outline{
    @apply inline-block rounded-md border-2 border-solid border-[#F5C34B] px-9 py-3 font-medium duration-500 text-[15px] hover:bg-[#F5C34B] hover:text-white
}
.be-button-primary{
    @apply inline-block rounded-md border-2 bg-[#F5C34B] border-solid border-[#F5C34B] px-9 py-3 font-medium duration-500 text-[15px] hover:bg-[#E8B336]
}
.zm-testimonials-carousel .owl-nav button.owl-prev,
.zm-testimonials-carousel .owl-nav button.owl-next{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    transition: all 0.3s;
}
.zm-testimonials-carousel .owl-nav button.owl-prev.disabled,
.zm-testimonials-carousel .owl-nav button.owl-next.disabled{
    opacity: 0.5;
    cursor: default;
}
.zm-testimonials-carousel .owl-nav button.owl-prev:not(.disabled):hover,
.zm-testimonials-carousel .owl-nav button.owl-next:not(.disabled):hover{
    background: #112137;
    border-color: #112137;
}
.zm-testimonials-carousel .owl-nav button.owl-prev:not(.disabled):hover svg path,
.zm-testimonials-carousel .owl-nav button.owl-next:not(.disabled):hover svg path{
    fill: white;
}
.zm-testimonials-carousel .owl-nav button.owl-next{
    left: auto;
    right: 0;
}
.zm-block--map-iframe{
    height: 600px;
}
.zm-block--map-iframe iframe{
    width: 100%;
    height: 100%;
}
.text-color{
    color: #041E42;
}
.form-mess .text-danger{
    display: block;
    padding-top: 20px;
    color: #c40000;
}
.faq-item .svg-line, .faq-content{
    @apply hidden
}
.faq-item.active .svg-plus{
    @apply hidden
}
.faq-item.active .svg-line,
.faq-item.active .faq-content{
    @apply block
}
@media(max-width: 767px){
    .zm-testimonials-carousel .owl-nav button.owl-prev,
    .zm-testimonials-carousel .owl-nav button.owl-next{
        width: 35px;
        height: 35px;
    }
    .zm-block--map-iframe{
        height: 350px;
    }
}
