:root{
    --main-color:#86BC42
}
.footer_one{
    &:before{
        display: none !important;
    }
    .footer_bg_img{
        //background-image: url(../images/icons/footer-bg.svg);
        background-repeat: no-repeat;
        bottom: 0;
        content: "";
        left: 0;
        opacity: .03;
        position: absolute;
        right: 0;
        top: 43px;
        z-index: 0;
    }
}
.service-review {
    &.list-star {
        display: inline-block;
        line-height: 13px;
        position: relative;
        .rating-stars-active {
            position: absolute;
            width: 0;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .rating-stars {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                list-style: none;
                float: left;
                margin-right: 5px;
                i {
                    //font-size: 13px;
                    color: #F2B23E;
                }
            }
            &:before {
                content: "";
                display: table;
                clear: both;
            }

        }
    }
}
.service-wishlist{
    cursor: pointer;
    &.active,&:hover{
        color:var(--main-color);
        span{
            color:var(--main-color)
        }
    }
}
.c-f30{
    color: #f30;
}
.c-000000{
    color: black;
}
/*Shop Slider Contact Css*/
.single_product_grid .owl-dots{
    text-align: center;
    .owl-dot{
        display: inline-block;
        zoom: 1;
    }
}
.single_product_grid .owl-dots .owl-dot span{
    background: transparent;
    border-radius: 4px;
    height: 100px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.4;
    width: 100px;
    display: inline-block;
    background-position: center center !important;
    background-size: cover !important;
}
.single_product_grid.sidebar .owl-dots .owl-dot span{
    margin-right: 0;
}
.single_product_grid .owl-dots .owl-dot.active span{
    border: 1px solid #86BC42;
    opacity: 1;
}
.bc-product-variations{
    .variation{
        span{
            &:last-child{
                display: none;
            }
        }
        .name{
            border: transparent;
            color: #121212;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            padding-left: 0;
            text-align: left;
        }
        .values{
            .item{
                border-radius: 15px !important;
                overflow: hidden;
                label{
                    min-width: 45px;
                    min-height: 30px;
                    color: #4F4F4F;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 700;
                }
            }
        }
    }
    .item-disable{
        opacity: 0.3;
    }
    .item-active{
        border-color: #0000003b !important;
        color: #7e7e7e !important;
        box-shadow: 0 0 5px #7e7e7e !important;
    }
}
.mbp_pagination_comments .mbp_first .media-body .sspd_postdate .sspd_review ul li:last-child a,
.sspd_review ul li:last-child a {
    color: #F2B23E;
}
.bc-reviews{
    .c-fcb800,
    .c-main{
        color: #F2B23E !important;
    }
    .btn {
        background-color: #86BC42;
        border-radius: 4px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        height: 55px;
        line-height: 40px;
        text-transform: uppercase;
        width: 152px;
    }
}
.shop_item .offer_badge ul li .offr_tag,
.shop_item .offer_badge ul li .comison_rate{
    border-radius: 60px;
    color: #fff;
    line-height: 24px;
    padding: 5px 17px 5px 17px;
    text-align: center;
    background-color: #CF3E3B;
}
.service-wishlist{
    cursor: pointer;
}
