.footer {
	.demus-footer {
	    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
        background-color: #ffffff;
        &.style_1{
            background-color: var(--background2);
        }
        .footer__center-inner{
            padding: 90px 0 80px;
            &.style_2{
                padding: 50px 0;
            }
        }
        .footer__top{
            padding: 60px 0;
            border-bottom:  1px solid var(--border);
        }
    	.widget-footer {
    		ul {
    			list-style: none;
    			margin-left: 0;
    			li {
    				a {
					    font-size: 14px;
					    font-weight: 400;
					    line-height: 1.5em;
                        color: var(--text);
                        &:hover {
                            color: var(--primary)!important;
                        }
    				}
    			}
    		}
    	}

	}
	.copy-right {
        border-top:  1px solid var(--border);
	    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
	    padding: 20px 0 30px;
	    font-size: 14px;
	    font-weight: 500;
	    line-height: 1.5em;
        .payment_getway_widget{
            p{
                margin-bottom: 0;
            }
        }
	}
}
#backtotop{
    position: fixed;
    z-index: 5;
    cursor: pointer;
    text-align: center;
    right: 10px;
    bottom: 100px;
    span{

        background-color: var(--primary);
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 48px;
        text-align: center;
        position: relative;
        color: #fff;
        font-size: 18px;
        margin-top: 5px;
        &:hover{
            background-color: var(--secondary);
        }
    }
}

.social-link{
    .social-icons-item{
        a{
            color: var(--accent);
            i{
                font-size: 20px;
            }
            &:hover{
                color: var(--primary);
            }
        }
        &:not(:last-child){
            margin-right: 18px;
        }
    }
}
