header{
    z-index: 99;
    position: relative;
    background-color: #ffffff;
    a:not(.button) {
        color: var(--accent);
    }
    .header-right {
        width: 310px;
        &.is_login{
            ul.topbar-items {
                justify-content: space-evenly;
            }
        }
        ul.topbar-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li.dropdown {
                position: relative;
                &:hover {
                    ul.dropdown-menu {
                        display: block;
                    }
                }
                ul.dropdown-menu {
                    display: none;
                    position: absolute;
                    left: 0;
                    z-index: 999;
                    text-align: left;
                    top: calc(90% + 4px);
                    padding: 10px 0;
                    background-color: var(--background2);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    a:not(.button) {
                        color: var( --e-global-color-accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;padding: 0.25rem 1rem;
                        i{
                            margin-right: 5px;
                        }
                    }
                    a:hover, a:focus {
                        color:var(--primary_hover);
                    }
                    &.dropdown-menu-user{
                        top: calc(90% + 3px);
                        li{
                            margin-left: 0;
                        }
                    }
                    h3{
                        font-size: 18px;
                    }
                    li {
                        ul{
                            margin-left: 0;
                            list-style: none;

                        }

                    }
                    .dropdown-footer{
                        a{
                            padding: 0;
                            justify-content: right;
                            color: var(--primary);
                        }
                    }
                }
            }
            li {
                a:not(.button) {
                    padding: 0;
                    font-size: 14px;
                }
                a:hover{
                    color:var(--primary_hover);
                    i{
                        color:var(--primary_hover);
                    }
                }
            }

            .group-icon-content{
                margin-left: 8px;
                display: inline-block;
                .sub-text{
                    line-height: 1;
                    display: block;
                    font-size: 12px;
                    color: #ffffff;
                    opacity: .5;
                }
                .sub-title{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
        .group-icon-action{
            vertical-align: top;
            position: relative;
            display: inline-block;
            i{
                font-size: 20px;
                color: var(--header-color);
                position: relative;
                top: 3px;
            }
            .count{
                min-width: 16px;
                height: 16px;
                line-height: 16px;
                font-size: 10px;
                font-weight: 400;
                text-align: center;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -3px;
                right: -5px;
                color: #fff;
                background-color: var(--primary);
            }
        }
    }
    .header-wrap{
        display: flex;
        padding: 30px 0;
        align-items: center;

        .site-branding{
            width: 245px;
            img{
                width: 215px;
            }
        }
        .site-navigation{
            width: calc(100% - 555px);

        }

    }
    .main-menu{
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            display: flex;
            justify-content: center;
            flex-direction: unset;
            li.dropdown {
                position: relative;

                &:hover {
                    ul.dropdown-menu {
                        display: block;
                        top: 100%;
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
                &.active{
                    ul.dropdown-menu{
                        li.current{
                            a{
                                color: var(--primary);
                                padding-left: 40px;
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                ul.dropdown-menu {
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    z-index: 999;
                    text-align: left;
                    top: calc(95% + 15px);
                    padding: 0;
                    background-color: var(--background);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    pointer-events: auto;
                    border: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    border-top: 2px solid var(--primary);
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    li.nav-item {
                        display: block;
                        min-width: 260px;
                        position: relative;
                        text-align: left;
                        margin: 0;
                        a {
                            position: relative;
                            padding: 10px 40px 10px 25px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.5;
                            color: var(--body);
                            transition: all 0.3s ease;
                            border-bottom: 1px solid var(--border);
                            &:before {
                                content: "";
                                width: 9px;
                                height: 1px;
                                background: #ffffff;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                -webkit-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                left: 25px;
                                opacity: 0;
                            }
                        }
                        &:hover, &.active {

                            a {
                                background: var(--primary);
                                color: #ffffff;
                                padding-left: 40px;
                                padding-right: 20px;
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    a:not(.button) {
                        color: var( --e-global-color-accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;
                    }
                    a:hover, a:focus {
                        color:var(--primary_hover);
                    }
                }
            }
            li {

                a {
                    font-size: 16px;
                    line-height: 1.5555;
                    font-weight: 600;
                    padding: 1em 1.1em;
                    &:hover{
                        color:var(--primary_hover);
                    }
                }
            }
        }
    }
}
