header{
    z-index: 99;
    position: relative;
    background-color: #ffffff;
    a:not(.button) {
        color: var(--accent);
    }
    &.header-style_1{
        .main-menu{
            margin-left: 0;
            .navbar-nav{
                justify-content: end;
            }
        }

    }
    &.header-style_2{
        .main-menu{
            margin-left: 0;
            padding: 10px 0;
            .navbar-nav{
                justify-content: center;
            }
        }
        .axtronic-logo{
            img{
                margin: 0 auto;
            }
        }
        .vertical-navigation{
            position: relative;
            &:hover{
                .vertical-menu{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
            .vertical-navigation-header{
                display: block;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 36px;
                color: var(--body-color);
                background-color: var(--background);
                cursor: pointer;
                &:hover{
                    background-color: var(--background2);
                    color: #ffffff;
                }
            }
            .vertical-menu{
                z-index: 99;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 200px;
                -o-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                margin-top: 10px;
                transform: translateY(15px);
                box-shadow: 0 0 50px 0 rgb(0 0 0 / 7%);
                .navbar-nav{
                    background-color: #fff;
                    position: relative;
                    list-style: none;
                    margin: 0;
                    border-top: none;
                    padding: 0;
                    flex-direction: column;
                    li{
                        border-left: 2px solid transparent;
                        &.current, &:hover{
                            border-left-color: var(--accent);
                            ul.dropdown-menu{
                                li{
                                    &:hover{
                                        border-left-color: transparent;
                                    }
                                }
                            }
                        }
                        a{
                            padding: 8px 15px;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            justify-content: space-between;
                            &.dropdown-toggle:after{
                                content: themecustom-char(angle-right);
                            }
                        }
                        &.menu-item-has-children{
                            ul.dropdown-menu{
                                left: 110%;
                                top: 0;

                            }
                            &:hover{
                                ul.dropdown-menu{
                                    opacity: 1;
                                    left: 100%;
                                    visibility: visible;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    &.header-style_3{
        position: absolute;
        width: 100%;
        background-color: transparent;
        + .page-template-content{
            .banner-slider{
                .swiper-wrapper {
                    .swiper-slide .slide-content.center{
                        align-items: start;
                        padding-top: 200px;
                    }
                    .demus-box{
                        height: 100%;
                    }
                }
            }
        }
    }
    .container-fluid{
        padding: 0 100px;
    }
    .header__inner{
        padding: 32px 0;
        position: relative;
    }
    .header-right {
        &.is_login{
            ul.topbar-items {
                justify-content: space-evenly;
            }
        }
        ul.topbar-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li.dropdown {
                position: relative;
                &:hover {
                    ul.dropdown-menu {
                        left: 100%;
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }
                ul.dropdown-menu {
                    position: absolute;
                    left: 0;
                    z-index: 999;
                    text-align: left;
                    top: calc(90% + 4px);
                    padding: 10px 0;
                    background-color: var(--background2);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    a:not(.button) {
                        color: var( --e-global-color-accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;padding: 0.25rem 1rem;
                        i{
                            margin-right: 5px;
                        }
                    }
                    a:hover, a:focus {
                        color:var(--primary_hover);
                    }
                    &.dropdown-menu-user{
                        top: calc(90% + 3px);
                        li{
                            margin-left: 0;
                        }
                    }
                }
            }
            li {
                margin-left: 30px;
                &:first-child{
                    margin-left: 0;
                }
                a:not(.button) {
                    padding: 0;
                    font-size: 14px;
                }
                a:hover{
                    color:var(--primary_hover);
                    i{
                        color:var(--primary_hover);
                    }
                }
            }

            .group-icon-content{
                margin-left: 8px;
                display: inline-block;
                .sub-text{
                    line-height: 1;
                    display: block;
                    font-size: 12px;
                    color: #ffffff;
                    opacity: .5;
                }
                .sub-title{
                    color: #fff;
                    font-weight: 600;
                }
            }
        }
        .group-icon-action{
            vertical-align: top;
            position: relative;
            display: inline-block;
            i{
                font-size: 20px;
                color: var(--header-color);
                position: relative;
                top: 3px;
            }
            .count{
                min-width: 16px;
                height: 16px;
                line-height: 16px;
                font-size: 10px;
                font-weight: 400;
                text-align: center;
                border-radius: 50%;
                display: inline-block;
                position: absolute;
                top: -3px;
                right: -5px;
                color: #fff;
                background-color: var(--primary);
            }
        }
    }
    .header-wrap{
        display: flex;
        padding: 30px 0;
        align-items: center;

        .site-branding{
            width: 245px;
            img{
                width: 215px;
            }
        }
        .site-navigation{
            width: calc(100% - 555px);

        }

    }
    .main-menu{
        margin-left: 100px;
    }
    ul.navbar-nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        display: flex;
        justify-content: start;
        flex-direction: unset;
        li {
            a.nav-link {
                position: relative;
                display: block;
                padding: 0 24px;
                color: var(--menu-color);
                font-size: var(--menu-font-size);
                text-decoration: none;
                font-weight: 400;
                transition: color .35s ease;
                &:before{
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    height:100%;
                    width: 0;
                    background: var(--primary);
                    transition: width .35s ease;
                    z-index: -1;
                }
                &:hover{
                    color:var(--menu-color);
                    &:before{
                        width: 100%;
                    }
                }
            }

            &.current, &.active{
                a:before{
                    width: 34px;
                }
            }
            &.dropdown {
                position: relative;
                &:hover {
                    ul.dropdown-menu {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
                a.dropdown-toggle{
                    &:after{
                        @include themecustom-icon;
                        content: themecustom-char(angle-down);
                        border-top: 0;
                        margin-left: 0;
                    }
                }
                &.active, &.active {
                    ul.dropdown-menu{
                        li.current{
                            a{
                                color: var(--primary);
                                span:before{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                ul.dropdown-menu {
                    display: block;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    z-index: 999;
                    text-align: left;
                    top: 100%;
                    background-color: #ffffff;
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    pointer-events: auto;
                    border: 0;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    -ms-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    li.nav-item {
                        display: block;
                        min-width: 260px;
                        position: relative;
                        text-align: left;
                        margin: 0;
                        a {
                            padding: 8px 15px;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 1.5;
                            color: var(--accent);
                            transition: all 0.3s ease;
                            span{
                                position: relative;
                                padding: 5px 0;
                                &:before{
                                    content: "";
                                    position: absolute;
                                    width: 0;
                                    height: 1px;
                                    background: var(--primary);
                                    left: 0;
                                    bottom: 7px;
                                    transition: width .35s ease;
                                }
                            }
                            &:hover, &:focus{
                                color: var(--primary);
                                span:before{
                                    width: 100%;
                                }
                            }
                        }

                    }
                    a:not(.button) {
                        color: var( --e-global-color-accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;
                    }
                    a:hover, a:focus {
                        background: #fff;
                        color:var(--primary_hover);
                    }
                }
                &.depth-1{
                    a{
                        padding: 8px 15px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        justify-content: space-between;
                        &.dropdown-toggle:after{
                            content: themecustom-char(angle-right);
                        }
                    }
                    ul.dropdown-menu{
                        top: 0;
                        left: 110%;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover{
                        .dropdown-menu{
                            opacity: 1;
                            left: 100%;
                            visibility: visible;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
    .demus_topbar{
        background-color: var(--accent);
        a{
            font-size: 14px;
            color: #ffffff;
        }
        .topbar-items{
            margin-left: 0;
        }
        .dropdown-menu{
            a{
                color: var(--accent);
                padding: 8px;
                &:hover, &:focus{
                    color: var(--primary);
                }
            }
        }

    }
}
.search-form{
    display: none;
    position: absolute;
    top: 100%;
    width: 375px;
    max-width: 100%;
    background: #fff;
    z-index: 1;
    right: 0;
    left: auto;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, .12);
    .demus-form-quick-search{
        .form-group{
            position: relative;
            .button-hover{
                position: absolute;
                right: 0;
                border: 0;
                background-color: transparent;
                color: #000;
                height: 100%;
                &:hover{
                    color: var(--primary);
                }
            }
        }
    }
}
