.demus-news{
    padding-bottom: 50px;
    margin-bottom: 70px;
}
.img-whp{
    width: 100%;
}
.entry-content{
    .entry-meta{
        font-size: calc(var(--font-size-base) - 4px);
        line-height: var(--font-size-base);
        color: var(--body-color-light);
        position: relative;
        .meta-categories{
            a{
                color: var(--body-color-light);
                &:hover{
                    color: var(--primary);
                }
            }
        }
        >div:not(:last-child):after{
            content: "-";
            display: inline-block;
            padding-left: 5px;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }
    .entry-title{
        a{
            color: var(--accent);
            &:hover{
                color: var(--primary);
            }
        }
    }
}
.bc-page-blog{
    .post{
        margin-bottom: var(--grid-gutter);
    }
}
.demus-slider-news{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .swiper-button-prev{
        left: -40px;
    }
    .swiper-button-next{
        right: -40px;
    }
    &:hover{
        .swiper-button-prev{
            left: 15px;
        }
        .swiper-button-next{
            right: 15px;
        }
    }
}

.demus-breadcrumb-news{
    background-color: var(--background);
    margin: 0 auto 60px;
    ol.breadcrumb{
        padding: 20px 0;
        margin-bottom: 0;
        color: var(--body-color);
        a{
            color: var(--accent);

        }
    }
}
button.blog-search__btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 48px;
    padding: 0;
    line-height: 42px;
    border-radius: 0;
    transition: color .3s ease;
    color: var(--accent);
    &:hover{
        color: var(--primary);
    }

}
.widget-recent-post{
    .post-content{
        display: flex;
        align-items: stretch;
        flex-direction: row;
        border-bottom-color: var(--border);
        margin-bottom: 15px;
        .post-thumb{
            flex: 0 0 auto;
            overflow: hidden;
            img{
                margin-right: 1em;
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 8px;
            }
        }
        .post-title{
            a{
                color: var(--accent);
                font-weight: 700;
            }
        }
        .recent-posts-info{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 20px;
            .post-title{
                display: block;
                color: var(--accent);
                margin-bottom: 0.5em;
                font-weight: 600;
                font-size: 14px;
                a{
                    color: var(--accent);

                }
            }
            .post-date{
                color: var(--light);
                font-size: 13px;
            }

        }
    }
}

.widget-tags{
    a{
        display: inline-block;
        margin-bottom: 8px;
        padding: 0px 10px;
        color: var(--body-color);
        font-size: calc(var(--font-size-base) - 1px);
        text-decoration: none;
        border: 1px solid var(--light);
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
        &:hover, &.active{
            color: #fff;
            border-color: var(--accent);
            background: var(--accent);
        }
    }
}
