@media (min-width: 1441px) and (max-width: 99999px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1365px) {

}
@media (min-width: 1201px) and (max-width: 1440px) {

}
@media (min-width: 1230px) {
    .demus-breadcrumb-news{
        .container-fluid{
            padding-left: 100px;
            padding-right: 100px;
        }
    }

}
@media (min-width: 1025px) and (max-width: 1200px) {

}
@media (min-width: 1024px) {

}
@media (max-width: 1024px) {
    .demus-site-features{
        margin-top: 30px;
        .item-features{
            padding: 30px 0;
        }
    }
}
@media (min-width: 992px) {
    .sidebarleft {
        .collection-content{
            padding-left: var(--bs-gutter-x);
            position: relative;
            border-left: 1px solid var(--border);
        }
        .sidebar-left{
            padding-right: var(--bs-gutter-x);
        }
    }
}

@media (max-width: 767px) {
    header {
        .container-fluid{
            padding: 0 var(--bs-gutter-x,.75rem);
        }
        .header-center{
            display: none;
        }
        .header-right ul.topbar-items li{
            margin-right: 20px;
        }
    }


}
@media (max-width: 450px) {

}
