@media (min-width: 1441px) and (max-width: 99999px) {

}
@media (max-width: 1440px) {

}
@media (max-width: 1365px) {

}
@media (min-width: 1201px) and (max-width: 1440px) {

}
@media (max-width: 1200px) {


}
@media (min-width: 1025px) and (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (min-width: 1024px) {

}

@media (max-width: 767px) {
    header {
        .container-fluid{
            padding: 0 var(--bs-gutter-x,.75rem);
        }
        .header-center{
            display: none;
        }
        .header-right ul.topbar-items li{
            margin-right: 20px;
        }
    }

}
@media (max-width: 450px) {

}
