.banner-slider {
    padding-bottom: 50px;
    margin-bottom: 70px;
    .swiper-wrapper{
        overflow: hidden;
        .swiper-slide {
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
            &.swiper-slide-active{
                .slide-content{
                    .slide-layers{
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                        transition: all 0.6s cubic-bezier(0.1, 0.2, 0.7, 1);
                    }
                }

                .slide-bg-wrap {
                    transform: scale(1);
                    transition: transform 5s cubic-bezier(0.1, 0.2, 0.7, 1);
                }

            }
            .slide-bg-wrap{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
                backface-visibility: hidden;
                .slide-bg{
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #111;
                }
            }
            .slide-content{
                display: flex;
                justify-content: start;
                align-items: center;
                text-align: start;
                height: 100%;
                max-width: 100%;
                margin: 0 auto;
                &.left{
                    justify-content: start;
                }
                &.right{
                    justify-content: end;
                }
                &.center{
                    justify-content: center;
                    text-align: center;
                    padding-top: 100px;
                    align-items: start;
                }
                &.light{
                    .slide-layers{
                        h4.sub-title, h2.title{
                            color: #ffffff;
                        }
                        p.desc{
                            color: var(--background2);
                        }
                        .slider-button{
                            color: #ffffff;
                        }
                    }
                }
                .slide-layers{
                    max-width: 680px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    transition: all 0.1s;
                    transition-delay: 0.2s;
                    flex-direction: column;
                    h4.sub-title{
                        color: var(--text);
                        font-size: 18px;
                        line-height: 1;
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        font-weight: 400;
                        animation-name: bounceInUp;
                        animation-duration: 1s;
                        animation-timing-function: ease-in;
                        animation-fill-mode: backwards;
                        animation-iteration-count: initial;
                    }
                    h2.title{
                        color: var(--accent);
                        font-size: 60px;
                        line-height: 72px;
                        margin-bottom: 40px;
                        font-weight: 800;
                        animation-name: bounceInUp;
                        animation-duration: 2.2s;
                        animation-timing-function: ease-in;
                        animation-fill-mode: backwards;
                        animation-iteration-count: initial;
                    }
                    p.desc{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        color: var(--text);
                        margin-bottom: 0;
                        animation-name: bounceInUp;
                        animation-duration: 2.8s;
                        animation-timing-function: ease-in;
                        animation-fill-mode: backwards;
                        animation-iteration-count: initial;
                        span{
                            color: var(--primary);
                        }
                    }
                    .slider-button{
                        display: inline-block;
                        background-color: transparent;
                        color: var(--accent);
                        padding: 18px 40px;
                        margin-top: 50px;
                        font-weight: 700;
                        font-size: var(--font-size-base);
                        text-transform: uppercase;
                        position: relative;
                        transition: all .2s ease;
                        animation-name: bounceInUp;
                        animation-duration: 3.4s;
                        animation-timing-function: ease-in;
                        animation-fill-mode: backwards;
                        animation-iteration-count: initial;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 100%;
                            border: 1px solid var(--primary);
                            background-color: var(--primary);
                            left: 0;
                            top: 0;
                            transition: width .2s ease;
                            z-index: -1;
                        }
                        &:hover{
                            &:before{
                                width: 100%;
                            }
                        }
                    }

                }
            }
        }
        .demus-box{
            height: calc(100vh - 100px);
            overflow: hidden;
            display: block;
            .demus-box-inner {
                max-width: var(--container);
                margin: 0 auto;
                height: 100%;
            }

        }
    }
    &:hover{
        .swiper-button-prev, .swiper-button-next{
            opacity: 1;
        }
    }
    .swiper-button-prev, .swiper-button-next{
        transition: all .3s ease-in-out 0s;
        margin-top: -40px;
        width: 70px;
        height: 80px;
        background-color: #fff;
        opacity: 0;
        color: var(--accent);
        &:after{
            font-size: 24px;
        }
        &.swiper-button-disabled{
            cursor: no-drop;
        }
        &:hover, &:focus{
            outline: 0;
            box-shadow: none;
            color: #fff;
            background-color: var(--primary);
            opacity: 1;
        }
    }
    &.demus-slider-2{
        margin-left:100px;
        margin-right:100px;
        position: relative;
        .swiper-button-next{
            top: 100%;
            margin-top: -130px;
            right: 0;
            opacity: 1;
        }
        .swiper-button-prev{
            top: 100%;
            margin-top: -130px;
            right: 70px;
            left: auto;
            opacity: 1;
        }
        .swiper-pagination{
            bottom: 50%;
            right: -50px;
            left: auto;
            width: auto;
            display: flex;
            flex-direction: column;
            span{
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -1px;
                color: #54504F;
                &:first-child{
                    position: relative;
                    margin-bottom: 100px;
                    padding-bottom: 10px;
                    &:before{
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 90px;
                        background-color: var(--primary);
                        top: 100%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
