:root {
    --primary: #e3b17f;
    --primary_hover: #E08D39;
    --secondary: #161311;;
    --secondary_hover: #3F3B39;
    --text: #54504F;
    --accent: #161311;;
    --light: #A49F9C;
    --dark: #031424;
    --border: #E6E2E0;
    --background: #EFEFED;
    --background2: #F0E1C6;
    --container: 1430px;
    --grid-gutter: 40px;
    --bs-gutter-x: 20px;
    --heading-weight: 700;
    --base-font: "Sen", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif ;
    --heading-font: "Sen", 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    --media-desktop: 1430px;
    --media-laptop: 1024px;
    --media-tablet: 758px;
    --media-handheld: 568px;
    --e-global-color-accent:#13172B;
    --e-global-color-border: #E8E8E8;
    --font-size-base: 16px;
    --menu-color: #54504f;
    --menu-hover-color: #54504f;
    --menu-font-size: 16px;
    --header-color: #333333;
    --body-color: #54504f;
    --bs-body-bg: #fff;
    --sale: #F57E7E;
    --out-stock: #A49F9C;
    --in-stock: #54C154;
}

body {
    font-size: var(--font-size-base);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bs-body-bg);
    font-family: var(--base-font);
}


body,
button,
input,
textarea {
    font-size: var(--font-size-base);
    color: var(--text);
    font-family: var(--base-font);
    line-height: 1.6666667;
    text-rendering: optimizeLegibility;
}

input[type="button"],
input[type="submit"],
button,
.elementor-button {
    font-weight: 600;
}

select {
    color: initial;
    font-family: var(--base-font);
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    margin: 0 0 ms(-1);
    color: var(--accent);
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    letter-spacing: -1.5px;
    .comment-body .comment-text & {
        padding: 1em 0 0;
    }
}

h1,
.alpha {
    font-size: 48px;
    line-height: 50px;
}

h2,
.beta {
    font-size: 40px;
    line-height: 48px;
}

h3,
.gamma {
    font-size: 32px;
    line-height: 40px;
}

h4,
.delta {
    font-size: 30px;
    line-height: 40px;
}

h5 {
    font-size: 24px;
    line-height: 32px;
}

h6 {
    font-size: 18px;
    line-height: 24px;
}
.sub-heading{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.alpha,
.beta,
.gamma,
.delta {
    display: block;
}

p,
ul,
ol,
table,
blockquote,
form {
    & + h2,
    & + header h2,
    & + h3,
    & + h4 {
        margin-top: ms(1);
    }
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 0 0 ms(1);
}

p {
    margin: 0 0 1em;
}

ul,
ol {
    margin: 0 0 ms(1) 3em;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

dt {
    font-weight: 600;
    color: var(--accent);
}

dd {
    margin: 0 0 ms(2);
}

b,
strong {
    font-weight: 600;
    color: var(--accent);
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    font-size: 18px;
    font-family: var(--heading-font);
    color: var(--accent);
    font-style: italic;
    background: var(--background2);
    padding: var(--grid-gutter);
    border-radius: 8px;
    p {
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

address {
    margin: 0 0 ms(1);
}

pre {
    background: rgba(#000, 0.1);
    font-family: 'Courier 10 Pitch', Courier, monospace;
    margin-bottom: ms(3);
    padding: ms(3);
    overflow: auto;
    max-width: 100%;
    border-radius: 8px;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.202em ms(-3);
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    text-decoration: none;
    font-weight: 600;
    background: transparent;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

figure {
    margin: 0;
}

table {
    margin: 0 0 ms(2);
    width: 100%;
}

img {
    height: auto; // Make sure images are scaled correctly.
    max-width: 100%; // Adhere to container width.
    display: block;
}

a {
    &:not(.button), &:not(.btn) , &:not(.btn-link-outline) {
        color: var(--primary);

        &:hover {
            color: var(--primary_hover);
        }

        text-decoration: none;
    }
}

:focus {
    outline: none;
}

// Wait, what..?
.axtronic-cute * {
    font-family: 'Comic Sans MS', sans-serif;
}
input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], textarea, .input-text,.form-control{
    padding: 12px 1em;
    background-color: #ffffff;
    color: var(--text);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border);
    -webkit-appearance: none;
    box-sizing: border-box;
    font-weight: 400;
    outline: 0;
    transition: all ease-in-out .3s;
    font-size: 15px;
    line-height: 24px;
    border-radius: 0;
    &:focus{
        border-color: var(--accent);
        box-shadow: none;
    }
}
input[type=button], input[type=reset], input[type=submit], .btn-primary{
    color: #fff;
    cursor: pointer;
    padding: 8px 24px;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: none;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    font-weight: 600;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 0;
    &:hover,&:focus,&:active, &:active:focus, &:checked+&:focus, &.active:focus{
        color: var(--primary);
        background-color: var(--background);
        border-color: var(--primary);
        box-shadow: none;
    }
    &.button-hover{
        background-color: var(--background);
        color: var(--primary);
        &:hover{
            background-color: var(--primary);
            color: #fff;
        }
    }
    &.btn-large{
        padding: 18px 40px;
    }
    &.btn-small{
        padding: 8px 16px;
    }

}
a.btn-link{
    position: relative;
    color: var(--accent);
    display: inline-block;
    text-transform: uppercase;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--accent);
        transition: width .3s ease-in-out;
    }
    &:hover{
        color: var(--accent);
        &:before {
            width: 100%;
        }
    }
}
a.btn-link-outline{
    border-bottom: 2px solid var(--primary);
    position: relative;
    color: var(--accent);
    display: inline-block;
    text-transform: uppercase;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        width: 0;
        height: 2px;
        background-color: var(--accent);
        transition: width .3s ease-in-out;
    }
    &:hover{
        &:before {
            width: 100%;
        }
    }
}
.btn{
    color: var(--bs-body-bg);
    border-color: var(--accent);
    background-color: var(--accent);
    padding: 8px 25px;
    font-size: var(--font-size-base);
    border-radius: 0;
    position: relative;
    span{
        position: relative;
        color: var(--bs-body-bg);
    }
    &:before{
        content: "";
        position: absolute;
        left: -1px;
        top: -1px;
        height: calc(100% + 2px);
        width: 0;
        display: block;
        border: 0 solid var(--primary);
        background-color: var(--primary);
        transition: all .3s ease;
    }

    &.btn-success{
        margin-top: 0;
        border-color: var(--primary);
        background-color: var(--primary);
        &:hover{
            border-color: var(--accent);
        }
        &:before{
            border-color: var(--accent);
            background-color: var(--accent);
        }
    }
    &:hover, &:focus{
        box-shadow: none;
        span{
            color: #ffffff;
        }
        &:before{
            width: calc(100% + 2px);
            border-width: 1px;
        }
    }
}

.primary-color{
    color: var(--primary);
}
.primary-color-hover{
    color: var(--primary_hover);
}

textarea{
    overflow: auto;
    vertical-align: top;
    width: 100%;
    border-radius: 0;
}
.w100{
    width: 100%;
}
