.bc-widget--account-dashboard{
    font-size: 14px;
    .bc-widget__content{
        a.list-group-item{
            color: var(--accent);
            display: flex;
            justify-content: start;
            align-items: center;
            i{
                margin-right: 5px;
            }
            &.active, &:hover{
                background-color: var(--primary);
                border-color: var(--primary);
                color: #ffffff;
            }
        }
    }
}
.bc-notifications{
    ul{

        margin-left: 0;
    }
    ul.nav-tabs{
        border-bottom: 0 ;
        .nav-link{
            border: 0;
            border-bottom: 5px solid transparent;
            color: var(--accent);
            &.active, &:hover{
                border-bottom-color: var(--primary);
                color: var(--primary);
            }
        }
    }
}
