.ps-product {
    .ps-product__thumbnail{
        overflow: initial;
        .ps-product__actions{
            visibility: hidden;
            opacity: 0;
        }
    }
    &:hover{
        .ps-product__actions{
            visibility: visible;
            opacity: 1;
        }
    }
}
.ps-btn, button.ps-btn,
.header--standard .ps-form--quick-search button{
    color:white;
}
.ps-widget--account-dashboard .ps-widget__content ul li.active{
    background: var(--main-color);
}
.header--standard .ps-form--quick-search button,
.header--standard .header__extra span,
.ps-btn, button.ps-btn,
.ps-widget--account-dashboard .ps-widget__content ul li a:hover,
.menu--dropdown > li:hover,
.menu > li > a:after
{
    background-color: var(--main-color);
}
.header--market-place-1 .header__extra:hover > i,
a:hover,
.widget_contact-us .widget_content h3,
.mega-menu .mega-menu__list li a:hover,
.menu > li > a:hover, .menu > li > a.active
{
    color:var(--main-color)
}
.form-control:focus{
    border-color: var(--main-color);
}
.mega-menu {
    padding: 15px 30px 10px !important;
}



.header--standard{
    .ps-block--user-header{
        margin-right: 0;
        .avatar{
            max-width: 30px;
            overflow: hidden;
            border-radius: 50%;
        }
        .ps-block__right{
            align-self: center;
        }
        .ps-block__right{
            a{
                line-height: initial;
            }
            .login{
                font-weight: normal;
            }
            .ps-dropdown{
                height: 45px;
                display: flex;
                align-items: center;
                .ps-dropdown-menu{
                    min-width: 200px;
                    padding: 10px;
                    li{
                        border-bottom: solid 1px #e7e7e7;
                        &:last-child{
                            border: none;
                        }
                        a{
                            font-weight: normal;
                            padding: 10px 10px;
                        }
                    }
                }
            }
        }
    }
}
.ps-dropdown ul{
    border-radius: 5px;
}
.bravo-subscribe-form{
    &.loading{
        .ps-btn{
            background: #a7a7a7;
        }
    }
}
