a{
    text-decoration: none;
}
.hl{
    color:var(--main-color);
}
.fs-14{
    font-size: 14px;
}
.fs-33{
    font-size: 33px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fw-700{
    font-weight: 700;
}
.c-000000{
    color: black;
}
.mw-none{
    max-width: none;
}
.c-pointer{
    cursor: pointer;
}
.c-main{
    color:var(--main-color)
}
.c-fcb800{
    color:#fcb800
}
.c-d2d2d2{
    color:#d2d2d2
}
.c-333333{
    color: #333333;
}
.c-white{
    color:white;
}
.bg-f1f1f1{
    background: #f1f1f1;
}
.bg-dark-75{
    background: rgb(0 0 0 / 75%);
}
.bg-main{
    background: var(--main-color);
}

.w-75px{
    width: 75px;
}

.w-90px{
    width: 90px;
}
.h-90px{
    height: 90px;
}
.w-30px{
    width: 30px;
}
.h-30px{
    height: 30px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}
/* Prevents img without src to appear */
//For Lazy Load
img.lazy{
    opacity: 0;
    &:not(.initial) {
        transition: opacity 1s;
    }
    &.initial,
    &.loaded,
    &.error{
        opacity: 1;
    }
}
img:not([src]) {
    visibility: hidden;
}
img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}
.object-cover{
    object-fit: cover;
}
// Border
.border-1{
    border-width:1px;
    border-style: solid;
}
.border-top-1{
    border-top:1px
}
.border-bottom-1{
    border-top:1px
}
.border-e1e1e1{
    border-color:#e1e1e1
}
// Radio
.div-4-3{
    padding-top: 56.25%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}
.div-16-9{
    padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}
[v-cloak]{
    display: none;
}
.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
