a{
    text-decoration: none;
}
.hl{
    color:var(--main-color);
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-33{
    font-size: 33px;
}
.fs-15{
    font-size: 15px;
}
.fs-16{
    font-size: 16px;
}
.fw-700{
    font-weight: 700;
}
.c-000000{
    color: black;
}
.mw-none{
    max-width: none;
}
.c-pointer{
    cursor: pointer;
}
.c-main{
    color:var(--main-color)
}
.c-fcb800{
    color:#fcb800
}
.c-d2d2d2{
    color:#d2d2d2
}
.c-333333{
    color: #333333;
}
.c-white{
    color:white;
}
.bg-f1f1f1{
    background: #f1f1f1;
}
.bg-dark-75{
    background: rgb(0 0 0 / 75%);
}
.bg-main{
    background: var(--main-color);
}

.w-75px{
    width: 75px;
}

.w-90px{
    width: 90px;
}
.h-90px{
    height: 90px;
}
.w-30px{
    width: 30px;
}
.h-30px{
    height: 30px;
}
.circle{
    border-radius: 50%;
    overflow: hidden;
}
/* Prevents img without src to appear */
//For Lazy Load
img.lazy{
    opacity: 0;
    &:not(.initial) {
        transition: opacity 1s;
    }
    &.initial,
    &.loaded,
    &.error{
        opacity: 1;
    }
}
img:not([src]) {
    visibility: hidden;
}
img[data-src],
img[data-srcset] {
    display: block;
    min-height: 1px;
}
.object-cover{
    object-fit: cover;
}
// Border
.border-1{
    border-width:1px;
    border-style: solid;
}
.border-top-1{
    border-top:1px
}
.border-bottom-1{
    border-top:1px
}
.border-e1e1e1{
    border-color:#e1e1e1
}
// Radio
.div-4-3{
    padding-top: 56.25%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}
.div-16-9{
    padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}
[v-cloak]{
    display: none;
}
// Border radius

//margin
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.mr-25{
    margin-right: 25px;
}
.mr-30{
    margin-right: 30px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-30{
    margin-bottom: 30px;
}

//padding
.pr-5, .px-5 {
    padding-right: 3rem;
}

//Opacity
.op-0{
    opacity: 0;
}
.op-01{
    opacity: .1;
}
.op-02{
    opacity: .2;
}
.op-03{
    opacity: .3;
}
.op-04{
    opacity: .4;
}
.op-05{
    opacity: .5;
}
.op-06{
    opacity: .6;
}
.op-07{
    opacity: .7;
}
.op-08{
    opacity: .8;
}
.op-09{
    opacity: .9;
}
.op-1{
    opacity: 1;
}

.f-w-10{
    flex: 0 0 10% !important;
}
.f-w-20{
    flex: 0 0 20% !important;
}
.f-w-30{
    flex: 0 0 30% !important;
}
.f-w-40{
    flex: 0 0 40% !important;
}
.f-w-50{
    flex: 0 0 50% !important;
}
.miw-300{
    min-width: 300px;
}
.miw-250{
    min-width: 250px;
}
.miw-120{
    min-width: 120px;
}
.btn-primary {
    color: #fff;
    background-color: #1a2b48;
    border-color: #1a2b48;
}