#masthead{
    z-index: 99;
    position: relative;
    background-color: var( --e-global-color-accent );
    a:not(.button) {
        color: #fff;
    }

    .bravo_topbar {
        display: flex;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        border-color: #0F2437;
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        padding: 10px 0px 10px 0px;
        font-size: 14px;
        font-weight: 400;
        .topbar-left {
            width: 50%;
            float: left;
        }
        .topbar-right {
            float: right;
            width: 50%;
            text-align: right;
        }
         ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            display: flex;
            float: right;
            li.dropdown {
                position: relative;
                a.dropdown-toggle:after {
                    @include themecustom-icon;
                    content: themecustom-char(angle-down);
                }
                ul.dropdown-menu {
                    display: none;
                    position: absolute;
                    right: 0px;
                    z-index: 999;
                    text-align: left;
                    top: calc(90% + 5px);
                    padding: 10px 0;
                    background-color: var(--background2);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    a:not(.button) {
                        color: var( --e-global-color-accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;
                    }
                    a:hover, a:focus {
                         color:var(--primary_hover);
                    }
                }
            }
            li.dropdown:hover {
                    ul.dropdown-menu {
                        display: block;
                    }
            }
            li {
                margin-right: calc(25px/2);
                margin-left: calc(25px/2);
                a:hover{
                    color:var(--primary_hover);
                }
            }
        }
    }
    .header-wrap{
        display: flex;
        padding: 30px 0px 30px 0px;
        .site-branding,
        .site-navigation{

        }

        .site-branding{
            flex: 0 0 215px;
            max-width: 215px;
        }

        .site-navigation{
            flex: 0 0 calc(100% - 525px);
            width: calc(100% - 525px);
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
                justify-content: center;
                 li.dropdown {
                    position: relative;
                    a.dropdown-toggle:after {
                        @include themecustom-icon;
                        content: themecustom-char(angle-down);
                    }
                     ul.dropdown-menu {
                        display: none;
                        position: absolute;
                        left: 0px;
                        z-index: 999;
                        text-align: left;
                        top: calc(95% + 15px);
                        padding: 0;
                        background-color: var(--background);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                        border-top: 2px solid var(--primary);
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        li.nav-item {
                            display: block;
                            min-width: 260px;
                            position: relative;
                            text-align: left;
                            margin: 0;
                            a {
                                position: relative;
                                padding: 10px 40px 10px 25px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.5;
                                color: var(--body);
                                transition: all 0.3s ease;
                                border-bottom: 1px solid var(--border);
                            }
                        }
                        li.nav-item:hover {
                            background: var(--background2);
                            a {
                                color: var(--primary);
                                padding-left: 40px;
                                padding-right: 20px;
                            }
                        }
                        li.nav-item:hover > a:before {
                            content: "";
                            width: 9px;
                            height: 1px;
                            background: #cdaa7c;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            left: 25px;
                        }
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }
                li.dropdown:hover {
                        ul.dropdown-menu {
                            display: block;
                        }
                }
                li {
                    margin-right: calc(25px/2);
                    margin-left: calc(25px/2);
                    a {
                        font-size: 16px;
                        line-height: 1.5555;
                        font-weight: 600;
                        padding: 1em 1.1em;
                    }
                    a:hover{
                        color:var(--primary_hover);
                    }
                }
            }
        }
        .site-member {
            width: 310px!important;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
               float: right;
                 li.dropdown {
                    position: relative;
                     ul.dropdown-menu {
                        display: none;
                        position: absolute;
                        left: 0px;
                        z-index: 999;
                        text-align: left;
                        top: calc(90% + 5px);
                        padding: 10px 0;
                        background-color: var(--background2);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }
                li.dropdown:hover {
                        ul.dropdown-menu {
                            display: block;
                        }
                }
                li {
                    margin-right: calc(25px/2);
                    margin-left: calc(25px/2);
                    a {
                        font-size: 16px;
                        line-height: 1.5555;
                        font-weight: 600;
                    }
                    a:hover{
                        color:var(--primary_hover);
                    }
                }
            }
        }
    }
}


