#masthead{
    z-index: 99;
    position: relative;
    background-color: var( --e-global-color-accent );
    a:not(.button) {
        color: #fff;
    }

    .axtronic_topbar {
        .topbar-box{
            border-bottom: 1px solid #0f2437;
            transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
            font-size: 14px;
            font-weight: 400;
        }
        .topbar-left {
            ul{
                li{
                    margin-right: calc(25px/2);
                    margin-left: calc(25px/2);
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
        .topbar-right {
            .topbar-items{
                li{
                    a.nav-link{
                        padding: .5rem;
                        &.dropdown-toggle::after{
                            margin-left: 0;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
         ul {
             list-style-type: none;
             padding: 0;
             margin: 0;
             font-size: 14px;
             display: flex;
             flex-direction:row;
            li.dropdown {
                position: relative;
                &:hover {
                    ul.dropdown-menu {
                        display: block;
                    }
                }
                a.dropdown-toggle:after {
                    @include themecustom-icon;
                    content: themecustom-char(angle-down);
                    border-top: 0;
                }
                ul.dropdown-menu {
                    display: none;
                    position: absolute;
                    right: 0px;
                    z-index: 999;
                    text-align: left;
                    top: calc(90% + 3px);
                    padding: 10px 0;
                    background-color: var(--background2);
                    box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                    border-radius: 0;
                    a:not(.button) {
                        color: var( --accent );
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        font-size: 12px;
                    }
                    a:hover, a:focus {
                         color:var(--primary_hover);
                    }
                }
            }
            li {
                a:hover{
                    color:var(--primary_hover);
                }
            }
        }
    }
    .header-wrap{
        display: flex;
        padding: 30px 0px;
        align-items: end;
        .site-branding,
        .site-navigation{

        }

        .site-branding{
            flex: 0 0 215px;
            max-width: 215px;
        }

        .site-navigation{
            flex: 0 0 calc(100% - 525px);
            width: calc(100% - 525px);
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
                justify-content: center;
                flex-direction: unset;
                 li.dropdown {
                    position: relative;
                    a.dropdown-toggle:after {
                        @include themecustom-icon;
                        content: themecustom-char(angle-down);
                        border-top: 0;
                        margin-left: 0;
                    }
                     &:hover {
                         ul.dropdown-menu {
                             display: block;
                             top: 100%;
                             opacity: 1;
                             visibility: visible;
                             pointer-events: auto;
                         }
                     }
                     ul.dropdown-menu {
                        display: block;
                         opacity: 0;
                         visibility: hidden;
                        position: absolute;
                        left: 0;
                        z-index: 999;
                        text-align: left;
                        top: calc(95% + 15px);
                        padding: 0;
                        background-color: var(--background);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        pointer-events: auto;
                         border: 0;
                         -webkit-border-radius: 0;
                         -moz-border-radius: 0;
                         border-radius: 0;
                        border-top: 2px solid var(--primary);
                        -ms-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        li.nav-item {
                            display: block;
                            min-width: 260px;
                            position: relative;
                            text-align: left;
                            margin: 0;
                            a {
                                position: relative;
                                padding: 10px 40px 10px 25px;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 1.5;
                                color: var(--body);
                                transition: all 0.3s ease;
                                border-bottom: 1px solid var(--border);
                            }
                            &:hover {
                                background: var(--background2);
                                a {
                                    color: var(--primary);
                                    padding-left: 40px;
                                    padding-right: 20px;
                                    &:before {
                                        content: "";
                                        width: 9px;
                                        height: 1px;
                                        background: #cdaa7c;
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        -webkit-transform: translateY(-50%);
                                        -moz-transform: translateY(-50%);
                                        -ms-transform: translateY(-50%);
                                        -o-transform: translateY(-50%);
                                        left: 25px;
                                    }
                                }
                            }
                        }
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }
                li {

                    a {
                        font-size: 16px;
                        line-height: 1.5555;
                        font-weight: 600;
                        padding: 1em 1.1em;
                        &:hover{
                            color:var(--primary_hover);
                        }
                    }
                }
            }
        }
        .site-member {
            width: 310px!important;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: 14px;
                display: flex;
                float: right;
                li.dropdown {
                    position: relative;
                    &:hover {
                        ul.dropdown-menu {
                            display: block;
                        }
                    }
                    ul.dropdown-menu {
                        display: none;
                        position: absolute;
                        left: 0px;
                        z-index: 999;
                        text-align: left;
                        top: calc(90% + 5px);
                        padding: 10px 0;
                        background-color: var(--background2);
                        box-shadow: 0 0 30px 0 rgb(0 0 0 / 5%);
                        a:not(.button) {
                            color: var( --e-global-color-accent );
                            display: flex;
                            align-items: center;
                            white-space: nowrap;
                            font-size: 12px;
                        }
                        a:hover, a:focus {
                             color:var(--primary_hover);
                        }
                    }
                }

                li {
                    margin-right: calc(25px/2);
                    margin-left: calc(25px/2);
                    a {
                        font-size: 16px;
                        line-height: 1.5555;
                        font-weight: 600;
                    }
                    a:hover{
                        color:var(--primary_hover);
                    }
                }
            }
        }
    }
}


