.page-template-content {
	.bc-list-products {
		.mb-4 {
			border-style: solid;
		    border-width: 0 0 1px 0;
		    border-color: var(--e-global-color-border);
		    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
		    margin-top: 0;
		    margin-bottom: 20px;
		    padding: 0 0 10px 0;
		    h3 {
		    	margin: 0;
		    }
		}
		.bc-content {
			.bc-carousel {
				overflow: hidden;
				.owl-stage-outer {
					.owl-stage {
						display: flex;
					}
				}
				.owl-nav {
					display: none;
				}
				.owl-dots {
					text-align: center;
					button.owl-dot {
					    width: 10px;
					    height: 12px;
					    border: 0;
					    background: #abadb1;
					    border-radius: 50%;
					    margin: 0 6px;
					}
					button.active {
						background: var(--primary);
					}
				}
			}
		}
	}
}
